<%- include("header") %>
<body>
    <div class="header"><h1><%= city[0].toUpperCase()+city.slice(1) %> Weather Forecast</h1></div>
<div class="container-fluid content-row d-flex justify-content-center">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
            <div class="card text-center">
            <div class="card-header"><h4><b>Today</b></h4></div>
            <div class="card-body">
            <img src="<%= currentData.icon %>" alt="Icon">
            <p class="card-title" ><b><%= currentData.description[0].toUpperCase()+currentData.description.slice(1) %></b></p>
            <p class="card-text" ><b>Temp:</b><%= currentData.temp %><span>&#8451;</span></p>
            <p class="card-text" ><b>Humidity:</b><%= currentData.humidity %>%</p>
            <p class="card-text" ><b>Pressure:</b><%= currentData.pressure %>hPa</p>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content-row d-flex nextdata justify-content-center">
    <div class="row row1">
        <% for(var i=0;i<=5;i++){ %>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <div class="card text-center">
                <div class="card-header" ><h4><b><%= week[(day.getDay()+ i+1) % 7] %></b></h4></div>
                <div class="card-body">
                <img src="<%= icon[i] %>" alt="Icon">
                <p class="card-title" ><b><%= description[i][0].toUpperCase()+description[i].slice(1)%></b></p>
                <p class="card-text" ><b>Min Temp:</b><%= mintemp[i] %><span>&#8451;</span></p>
                <p class="card-text" ><b>Max Temp:</b><%= maxtemp[i] %><span>&#8451;</span></p>
                <p class="card-text" ><b>Pressure:</b><%= pressure[i] %>hPa</p>
                </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>